@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
body,html{
	background-color:#E96D6D;
	font-family: 'Raleway', sans-serif;
}

*{
	color: white !important;
}


.blog-navbar{
	margin-top: 50px;
	width: 100%;
	border-radius: 0px;
	height: 80px;
	padding-top: 10px;
	box-shadow:  2px 2px 2px 2px #C21500;
}

.brand{
	font-style: italic;
	font-weight: 800;
	font-size: 24px;
	font-family: 'Oswald', sans-serif !important;

}
.left-bar{
	
	
	height: 100%;
}

.fixed{
	position: fixed;
	height: 100%;
	width: 16.67%;
	margin-top: -100px;
}
.scrollable{
	height: 100%;
	width: 83.33%;
	float: right;
}

.right-bar{
	border-left: 1px solid white;
	padding-left: 20px;
	min-height: 400px;
}

.blog-img{
	width: 100%;
	height: 500px;
}



.share-icon{
	height: 200px;

}

.share{
	position: fixed;
	float: left;
	top: 100px;
	width: 8.35%;
}
.context{
	float: right;
	width: 91.64%;
	padding-left: 25px;
}
.caret{
	color: white;
}

.col02 div{
	
	text-align: justify;
	font-size: 18px;
	font-family: 'Montserrat Alternates', sans-serif;
	padding: 30px;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #C21500;
  text-decoration: none;
  
}
.nav > li > a:hover{
	
}
blockquote{
	width: 90%;
	margin-left: 5%;
}

.btn-modal{
	background: #C21520;
	color: white !important;
	font-style: bolder;
	font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
.btn-modal:hover{
	color: white;
	background-color: #6D231A !important;
}

.footer{
	min-height: 100px;
	margin-top: 40px;
}
textarea {
	color: black !important;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	font-weight: 200;
}
/*
* figure content
*/


figure {
  display: block;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0 20px 20px 0;
}
figcaption {
  position: absolute;
  background: black;
  width: 100%;
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 10px 20px;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}
figure:hover figcaption {
  opacity: 1;
}
figure:before {
  content: "?";
  position: absolute;
  font-weight: 800;
  background: black;
  background: rgba(255,255,255,0.75);
  text-shadow: 0 0 5px white;
  color: black;
  width: 24px;
  height: 24px;
  border-radius:         12px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  -moz-transition: all 0.6s ease;
  opacity: 0.75;
}
figure:hover:before {
  opacity: 0;
}
.blog-img{
	
	width: 1020px;

}

.cap-left:before {  bottom: 10px; left: 10px; }
.cap-left figcaption { bottom: 0; left: -30%; }
.cap-left:hover figcaption { left: 0; }

.cap-right:before { bottom: 10px; right: 10px; }
.cap-right figcaption { bottom: 0; right: -30%; }
.cap-right:hover figcaption { right: 0; }

.cap-top:before { top: 10px; left: 10px; }
.cap-top figcaption { left: 0; top: -30%; }
.cap-top:hover figcaption { top: 0; }

.cap-bot:before { bottom: 10px; left: 10px; }
.cap-bot figcaption { left: 0; bottom: -30%;}
.cap-bot:hover figcaption { bottom: 0; }



/*
*	code for editor
*/
pre{
	background: inherit;
}

.bold {
    font-weight: bold;
}
.editor-control{
	width: 100%;
	height: 40px;
	background: #C21500;
	color: white;
	margin-bottom: 0px;
	padding: 10px;
}
.textEditor{
	border-radius: 0px !important;
}
.editor-nav{
	margin: 0;
	padding: 0;
	list-style-type: none;
	
}
.editor-nav li{
	display: inline;
	margin-right: 10px;
}
.display{
	font-weight: normal;
	font-style: normal;
	font-size: 15px;
}

input{
	color: black !important;
}

.list-group-item{
	background: inherit;
	border: 0px;
}


/*
*	Code for reply
*/

.reply{
	margin-top: 5px;
}

.reply-content p{
	font-family: 'Sahitya', serif;
	font-size: 15px;
	font-weight: 200;
}

.replyer{
	font-size: 15px;
	overflow: hidden;
}


/*
*	style for profile page
*/

.wrapper{
	border-radius: 10px;
	width: 100%;

	height: 500px;

	
	margin-top: 80px;
	text-align: center;



}

.wrap-left{
	background: linear-gradient(rgba(0,0,0,.8), rgba(00,0,0,.8)),url('/images/landmark.jpg');
	#background: url('/images/landmark.jpg');
	background-size: 100% 100%;
	height: 500px;
	border-radius-left-top: 10px; 
	padding: 40px;
	text-align: justify;



}
.img-circle{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-left: 40%;
	margin-top: 6%;
	margin-bottom: 5px;
	background: rgba(0,0,0,0.8);
	filter: grayscale(50%);
	
}

.btn-circle{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: rgba(0,0,0,0.8);
	margin-left: 40%;
	margin-top: 8%;
}
.btn-circle span{
	color: black;
}

.btn-circle:hover{
-webkit-box-shadow: -4px -4px 45px -3px rgba(255,255,255,0.47);
-moz-box-shadow: -4px -4px 45px -3px rgba(255,255,255,0.47);
box-shadow: -4px -4px 45px -3px rgba(255,255,255,0.47);

}

.btn-circle:hover > span{
	font-size: 50px;
}



/*
*	 Code section for faq part
*	 
*/

.info{
	text-align: right;
}

.point{
	text-align: center;
	#padding-left: 15px;
}

.btn-keyword{
	background: #C21520;
	margin-right: 5px;
}

.keyword-wrapper{
	margin-top: 10px;
}

.first-row{
	margin-top: 10px;
}

#comment{
	display: none;
}

.highlight{
	color: lime !important;
}













/*
*testing
*/
/* nice one , I like it. But cannot use.
.fa
{
    color:black;

    animation: colorchange1 50s;
    -webkit-animation: colorchange1 50s
}

@keyframes colorchange1
{
0%   {color: green;}
15%  {color: orange;}
30%  {color:purple;}
45%  {color: #e74c3c;}
60% {color: violet;}
75% {color: indigo;}
90% {color: blue;}
100% {color: black;}
}

@-webkit-keyframes colorchange1 /* Safari and Chrome - necessary duplicate */
/*{
    0%   {color: green;}
    15%  {color: orange;}
    30%  {color:purple;}
    45%  {color: #e74c3c;}
    60% {color: violet;}
    75% {color: indigo;}
    90% {color: blue;}
    100% {color: black;}


*/