#player{
	width: 400px;
}
.runs{
	width: 400px;
}
.btn-circle{
	border-radius: 50%;
}

.score{
	height: 80px;
	background: black;
	color: white;
	width: 100%;
	margin-top: 45px;
	clear: both;
	margin-left: -115px;
	z-index: 9999;
	
}

.row-body{
	margin-top: 200px;
}